.project-header {
  font-size: 30px;
  display: flex;
  margin-top: 20px;
}

.small-palettes-container {
  display: flex;
  flex-wrap: wrap;
}

.small-palettes {
  font-size: 20px;
}

.small-palettes-ul {
  list-style-type: none;
  padding: 0;
}

.palette-colors {
  display: inline-block;
  height: 30px;
  width: 30px;
}

.palette-buttons {
  height: 35px;
  padding-top: 40px;
  width: 30px;
}
.project-button {
  height: 35px;
  padding-top: 10px;
}