.color-container {
  align-items: center;
  background-color: #ececec;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0px;
  width: 100%;
}

.color-container-div {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 200px;
  justify-content: center;
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  width: 280px;
}

.generate-color-button {
  height: 30px;
  border-radius: 8px;
}

.update-palette-button {
  height: 30px;
  border-radius: 8px;
}