.color-container {
  background-color: green;
  display: flex;
  position: relative;
  width: 100%;
}

.color-container-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.button-container {
  /* flex-direction: column; */
  position: absolute;
  right: 34%;
  top: 80%;
  width: 360px;
}

.generate-color-button {
  align-self: flex-end;
  height: 30px;
}