.new-project-form {
  align-items: center;
  border: 1px solid black;
  display: flex;
  height: 48%;
  justify-content: center;
  width: 100%;
}

.align-form-items {
  height: 50%;
}

.project-name {
  height: 20px;
  margin-bottom: 10px;
  width: 100%;
}

.create-project-button {
  height: 20px;
  width: 100%;
}